 <!-- Main Content -->
        <main class="main-content">
            <!-- Top Navbar -->
           {{>menu}}

            <!-- Settings Content -->
         
                <!-- Settings Navigation -->
                

                <!-- Settings Content -->
                <div class="glass-card">
                    <!-- Profile Tab -->
                    <form action="/inscriptions/create" method="POST">

                    <div class="settings-tab-content active" id="tab-profile">
                        <div class="profile-header">
                           
                            <div class="profile-info">
                                
                                <p></p>
                            </div>
                        </div>

                        <div class="settings-section">

                            <div class="form-grid">
                                <div class="form-group-settings">
                                    <label>Responsable</label>
                                    <input type="text"  name="responsable" placeholder="" >
                                </div>
                                <div class="form-group-settings">
                                      <label for="exampleFormControlSelect1" class="form-label">Eleve</label>
                                            <select class="settings-select" id="exampleFormControlSelect1" name="eleve">
                                                <option value="">-- Selectionner un eleve --</option>
                                                {{#each Eleves}}
                                                <option value="{{this._id}}">{{this.nom}}  {{this.prenom}}</option>
                                                {{/each}}

                                            </select>
                                </div>
                                <div class="form-group-settings">
                                      <label for="exampleFormControlSelect1" class="form-label">Classe</label>
                                            <select class="settings-select" id="exampleFormControlSelect1" name="classe">
                                                <option value="">-- Selectionner une classe</option>
                                                {{#each Classes}}
                                                <option value="{{this._id}}">{{this.libelle}}</option>
                                                {{/each}}

                                            </select>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary" style="width: auto;">Save Changes</button>
                            <button class="btn btn-secondary" style="width: auto;">Cancel</button>
                        </div>
                    </div>
            </form>
                    <!-- Security Tab -->
                    
                    <!-- Notifications Tab -->
                    
                    <!-- Billing Tab -->
                    <div class="settings-tab-content" id="tab-billing">
                        

                        
                    
                    </div>
                </div>
            </div>
        </main>
    </div>